services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: mileapp-tasks-client
    ports:
      - "${CLIENT_PORT}:${CLIENT_PORT}"
    environment:
      - NODE_ENV=${NODE_ENV}
      - NUXT_PUBLIC_API_BASE_URL=${NUXT_PUBLIC_API_BASE_URL}
      - NUXT_PRIVATE_API_BASE_URL=${NUXT_PRIVATE_API_BASE_URL}
    depends_on:
      - server
    restart: unless-stopped

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: mileapp-tasks-server
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    environment:
      - NODE_ENV=${NODE_ENV}
      - MONGODB_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:${MONGODB_PORT}/${MONGODB_NAME}?authSource=admin
      - PORT=${SERVER_PORT}
    depends_on:
      - mongo
    restart: unless-stopped

  mongo:
    image: mongo:8.0
    container_name: mileapp-tasks-mongo
    restart: always
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_INITDB_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
